/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

:root {
    --bg-purple: #540B51;
    --bg-ivory: #F3EAE2;
    --btn-blue: #4285F4;
    --h-dark: #191817;
    --p-dark: #000000;
    --p-yellow: #000000;
    --links: #000000;
    --footer-links-grey: #454245;
}

header {
    background-color: #540B51;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.hero-container{
    flex-direction:row;
    width:100%;
}
.signup{
    background-color:white;
    color:#540B51;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.google{
    background-color: #4285F4;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.google img{
    background-color: white;
    height:20px;
    width: auto;
}
h1{
    color:white;
}
.mustard{
    color:goldenrod;
}
.white{
    color:white;
}

@media (max-width: 768px;){
    .hero-container{
        display:flex;
        width:100vw;
        
    }
    .hero-container p{
        width: 100%;
    }
    .button-container{
        display:flex;
        flex-direction:row;
        width:100%;
        justify-content: space-around;
    }
}
